v0.5.0/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- MultiCellXML Version v0.3.9 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="common" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
    targetNamespace="common" elementFormDefault="qualified" vc:minVersion="1.0" vc:maxVersion="1.1"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:owl="http://www.w3.org/2002/07/owl#" 	> 

    <xs:complexType name="custom" mixed="true">
        <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0"  processContents="skip"/>
        </xs:sequence>
        <!-- <xs:anyAttribute /> -->
    </xs:complexType>
    
    
<!--########################################-->
<!-- Decimal Type with Attribute Units      -->
<!--########################################-->

    <xs:attributeGroup name="units_ag">
        <xs:attribute name="units" type="xs:string" /> <!-- Attributes are optional by default -->        
    </xs:attributeGroup>
    <xs:attributeGroup name="measurement_type_ag">
        <xs:attribute name="measurement_type" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="uncertainty_ag">
        <xs:attribute name="uncertainty" type="xs:double" />
        <xs:attribute name="negative_uncertainty" type="xs:double" />
        <xs:attribute name="positive_uncertainty" type="xs:double" />
        <xs:attribute name="uncertainty_percentage" type="xs:double" />
        <xs:attribute name="negative_uncertainty_percentage" type="xs:double" />
        <xs:attribute name="positive_uncertainty_percentage" type="xs:double" />        
    </xs:attributeGroup>
    <xs:simpleType name="double_list">
        <xs:list itemType="xs:double" />
    </xs:simpleType>
    <xs:simpleType name="unsigned_int_list">
        <xs:list itemType="xs:unsignedInt" />
    </xs:simpleType>
    <xs:simpleType name="two_doubles">
        <xs:restriction base="double_list">
            <xs:length value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="units_double_list">
        <xs:simpleContent>
            <xs:extension base="double_list">
                <xs:attributeGroup ref="measurement_attributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="delimited_list">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="delimiter" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="units_delimited_list">
        <xs:simpleContent>
            <xs:extension base="delimited_list">
                <xs:attributeGroup ref="measurement_attributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:attributeGroup name="variability">
        <xs:attribute name="median" type="xs:double" />
        <xs:attribute name="standard_deviation" type="xs:double" />
        <xs:attribute name="interquartile_range" type="two_doubles" />
        <xs:attribute name="range" type="two_doubles" />
        <xs:attribute name="min" type="xs:double" />
        <xs:attribute name="max" type="xs:double" />
        <xs:attribute name="standard_error" type="xs:double" />
        <xs:attribute name="standard_error_of_the_mean" type="xs:double" />
        <xs:attribute name="number_obs" type="xs:int" />
        <xs:attribute name="skewnesss" type="xs:double" />
        <xs:attribute name="kurtosis" type="xs:double" />
    </xs:attributeGroup>
    <xs:attributeGroup name="measurement_attributes">
        <xs:attributeGroup ref="units_ag"/>
        <xs:attributeGroup ref="measurement_type_ag" />
        <xs:attributeGroup ref="uncertainty_ag" />
        <xs:attributeGroup ref="variability" />
    </xs:attributeGroup>

    <xs:complexType name="units_decimal" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:double"> <!-- Consider some binary to text encoding -->
                <xs:attributeGroup ref="measurement_attributes" />
                <!-- </xs:attribute> (Maybe need to add this) -->
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

<!--    <xs:complexType name="units_decimal_variability" mixed="true">
        <xs:complexContent>
            <xs:extension base="units_decimal">
                <xs:sequence>
                    <xs:element ref="un:AbstractSummaryStatistic"  maxOccurs="unbounded" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    -->

    <xs:complexType name="units_decimal_nonnegative" mixed="true">
        <xs:simpleContent>
            <xs:restriction base="units_decimal">
                <xs:minInclusive value="0.0"/>
            </xs:restriction>
        </xs:simpleContent>        
    </xs:complexType>
    

    <xs:complexType name="units_unsignedShort" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:unsignedShort"> <!-- Consider some binary to text encoding -->
                <xs:attributeGroup ref="measurement_type_ag" />
                <xs:attributeGroup ref="units_ag"/>
                <!-- </xs:attribute> (Maybe need to add this) -->
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="units_boolean" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:boolean"> <!-- Consider some binary to text encoding -->
                <xs:attribute name="units" type="xs:string" /> <!-- Attributes are optional by default -->
                
                <!-- </xs:attribute> (Maybe need to add this) -->
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="fraction">
        <xs:restriction base="xs:double">
            <xs:maxInclusive value="1.0"/>
            <xs:minInclusive value="0.0"/>
        </xs:restriction>    
    </xs:simpleType>
    
    <xs:complexType name="units_fraction" mixed="true">
        <xs:simpleContent>
            <xs:restriction base="units_decimal">
                <xs:minInclusive value="0.0"/>
                <xs:maxInclusive value="1.0"/>
            </xs:restriction>
        </xs:simpleContent>        
    </xs:complexType>
    
<!--########################################-->
<!-- String Type with Attribute Units      -->
<!-- This should be replaced for Position and Velocity with (xs:decimal,xs:decimal,xs:decimal) -->
<!--########################################-->
    
    <xs:complexType name="units_string" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:string"> <!-- Consider some binary to text encoding -->
                <xs:attributeGroup ref="measurement_attributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="data_storage_formats">
        <xs:restriction base="xs:string">
            <xs:enumeration value="xml" />
            <xs:enumeration value="XML" />
            <xs:enumeration value="matlab" />
            <xs:enumeration value="Matlab" />
            <xs:enumeration value="MATLAB" />
            <xs:enumeration value="hdf5" />
            <xs:enumeration value="HDF5" />
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:complexType name="transition_threshold">
        <xs:simpleContent>
            <xs:extension base="units_decimal">
                <xs:attributeGroup ref="thresholds" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:attributeGroup name="thresholds">
        <xs:attribute name="quantity" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    This should be the name of an element in MultiCellDS with possible XPATH 
                    or an ontology element identifier.
                    
                    Examples:
                    //phenotype/mechanics/mechanical_pressure
                    CBO:PressureMechanical
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="threshold_type" use="required" />
        <xs:attribute name="variable_ID" type="xs:unsignedLong">
            <xs:annotation>
                <xs:documentation>
                    This should reference the internal variable ID number (optional)
                    Users can use a different ontology ID number like ChEBI.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:simpleType name="threshold_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="positive">
                <xs:annotation>
                    <xs:documentation>
                        If above a particular value, the threshold has been passed.
                        Think "greater than"
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="non_positive">
                <xs:annotation>
                    <xs:documentation>
                        If at or below a particular value, the threshold has been passed.
                        Think "less than or equal to"
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="negative">
                <xs:annotation>
                    <xs:documentation>
                        If below a particular value, the threshold has been passed.
                        Think "less than"                        
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="non_negative">
                <xs:annotation>
                    <xs:documentation>
                        If at or above a particular value, the threshold has been passed.
                        Think "greater than or equal to"
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lower_bound">
                <xs:annotation>
                    <xs:documentation>
                        This is an alias for a positive threshold
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="upper_bound">
                <xs:annotation>
                    <xs:documentation>
                        This is an alias for a negative threshold
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
