v0.5.0/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- MultiCellXML Version v0.3.9 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="metadata" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="metadata" vc:minVersion="1.0" vc:maxVersion="1.1" elementFormDefault="unqualified" 
    xmlns:common="common" xmlns:meta="metadata"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <xs:import namespace="common" schemaLocation="common.xsd"/>
  
    <!--############################################################-->
    <!-- Elements for metadata => curation    -->
    <!--############################################################-->
    <xs:simpleType name="URL">
      <xs:restriction base="xs:string" />
    </xs:simpleType>
<!--    <xs:element name="url" type="xs:string" /> -->
    
<!--    <xs:element name="orcid-identifier"> -->
        <xs:complexType name="orcid-identifier">
            <xs:annotation>
                <xs:documentation>
                    Eventually, replace with the ORCID XSDs.
                </xs:documentation>
            </xs:annotation>
            <xs:all>
                <xs:element name="path" type="xs:string" minOccurs="0" />
                <xs:element name="given-names" type="xs:string" minOccurs="0" />
                <xs:element name="family-name" type="xs:string" minOccurs="0" />
                <xs:element name="email" type="xs:string" minOccurs="0" />
                <xs:element name="url" type="URL" minOccurs="0" />
                <xs:element name="organization-name" type="xs:string" minOccurs="0" />
                <xs:element name="department-name" type="xs:string" minOccurs="0" />
            </xs:all>
        </xs:complexType>
<!--    </xs:element> -->
    
<!--     <xs:element name="curation"> -->
    
        <xs:complexType name="orcid-person">
            <xs:sequence>
                <xs:element name="orcid-identifier" type="orcid-identifier" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="curation">
            <xs:annotation>
                <xs:appinfo xmlns="">
                    <sch:pattern> <!-- name="Curator_for_DCLS" -->
                        <sch:rule context="metadata/curation">
                            <sch:assert test="curator or not(/*/@type = 'cell_line') or ancestor::custom">metadata/curation/curator required for digital cell lines <sch:name/> </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
                <!-- See NAO for more information. http://www.semanticdesktop.org/ontologies/2007/08/15/nao/ -->
                <!-- See NCO for more information. http://www.semanticdesktop.org/ontologies/2007/03/22/nco/ -->
                <xs:element name="created" type="xs:dateTime" />
                <xs:element name="last_modified" type="xs:dateTime" />
		<xs:choice>
		  <xs:element name="classification" type="classification" />
		  <xs:element name="version" type="xs:string" />
		</xs:choice>
                
                <xs:element name="creator" type="orcid-person" />
                
                <xs:element name="current_contact" type="orcid-person">
                    <xs:annotation>
                        <xs:documentation>
                            This element could be like the PersonContact in NCO
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element name="curator" type="orcid-person" minOccurs="0" >
                    <xs:annotation>
                        <xs:documentation>
                            This element is required for a cell line. The schematron test for this is in the parent complexType/class.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>                
                <xs:element name="last_modified_by" type="orcid-person" />
                
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
            </xs:sequence>
            <xs:attribute name="curated" type="xs:boolean" />
            <xs:anyAttribute />
        </xs:complexType>
    
    <xs:complexType name="classification">
        <xs:sequence>
            <xs:element name="classification_number" type="xs:string" />
            <xs:element name="line" type="xs:unsignedInt" />
            <xs:element name="variant" type="xs:unsignedInt" />
            <xs:element name="branch" type="xs:unsignedInt" />
            <xs:element name="version" type="xs:unsignedInt" />
        </xs:sequence>
    </xs:complexType>
<!--    </xs:element> -->
    
    <!--############################################################-->
    <!-- Elements for metadata => citation    -->
    <!--############################################################-->
    
<!--    <xs:element name="citation"> -->
        <xs:complexType name="citation">
            <xs:sequence>
                <xs:element name="text" type="xs:string" minOccurs="0" />
                <xs:element name="DOI" type="xs:string" minOccurs="0"/>
                <xs:element name="URL" type="URL" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="PMID" type="xs:string" minOccurs="0" />
                <xs:element name="PMCID" type="xs:string" minOccurs="0" />
                <xs:element name="arXiv" type="xs:string" minOccurs="0" />
                <xs:element name="notes" type="xs:string" minOccurs="0" />
                <xs:element name="custom" type="common:custom" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
<!--    </xs:element> -->
    
    <!--############################################################-->
    <!-- Elements for metadata => data origin    -->
    <!--############################################################-->
    
<!--    <xs:element name="data_origin"> -->
        <xs:complexType name="data_origin">
            <xs:sequence>
                <xs:element name="instrumentation_information" type="xs:string" minOccurs="0" />
                <xs:element name="experimental_protocol" type="xs:string" minOccurs="0" />
                <xs:element name="citation" type="citation" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="xpath" type="xs:string" minOccurs="0" />
                <xs:element name="notes" type="xs:string" minOccurs="0" />
                <xs:element name="custom" type="common:custom" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="ID" type="xs:unsignedLong" />
        </xs:complexType>
<!--    </xs:element> -->
    
<!--    <xs:element name="data_origins"> -->
        <xs:complexType name="data_origins">
            <xs:sequence>
                <xs:element name="data_origin" type="data_origin" maxOccurs="unbounded"/>
                <xs:element name="custom" type="common:custom" minOccurs="0" />
            </xs:sequence> 
        </xs:complexType>
<!--    </xs:element> -->
    
    <!--############################################################-->
    <!-- Elements for metadata => data analysis    -->
    <!--############################################################-->
    
<!--    <xs:element name="data_analysis"> -->
        <xs:complexType name="data_analysis">
            <xs:sequence>
                <xs:element name="URL" type="URL"  minOccurs="0"/>
                <xs:element name="citation" type="citation"  minOccurs="0"/>
                <xs:element name="software" type="software" minOccurs="0" />
                <xs:element name="xpath" type="xs:string" minOccurs="0" />
                <xs:element name="notes" type="xs:string" minOccurs="0" />
                <xs:element name="custom" type="common:custom" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
<!--    </xs:element> -->
    
    <xs:complexType name="software">
        <xs:sequence>
            <!--
            <xs:choice>
                <xs:element name="software_name" type="xs:string" />
                <xs:element name="name" type="xs:string" />
            </xs:choice>
            <xs:choice>
                <xs:element name="software_version" type="xs:string" />
                <xs:element name="version" type="xs:string" />
            </xs:choice>
            <xs:choice minOccurs="0">
                <xs:element name="software_input_configuration" type="common:custom" minOccurs="0" />
                <xs:element name="input_configuration" type="common:custom" minOccurs="0" />
            </xs:choice>
            -->
            <!-- Want to make it a choice between the two groups, but API software not cooperating with naming
            <xs:group ref="software_full_names" minOccurs="0" />
            <xs:group ref="software_short_names" minOccurs="0" />
             -->
            <xs:element name="software_name" type="xs:string" minOccurs="0" />
            <xs:element name="software_version" type="xs:string" minOccurs="0" />
            <xs:element name="software_input_configuration" type="common:custom" minOccurs="0" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="version" type="xs:string" minOccurs="0" />
            <xs:element name="input_configuration" type="common:custom" minOccurs="0" />
            <xs:element name="URL" type="URL"  minOccurs="0"/>
            <xs:element name="creator" type="orcid-person" minOccurs="0" />
            <xs:element name="citation" type="citation" minOccurs="0" />
            <xs:element name="user" type="orcid-person" minOccurs="0" />
            <xs:element name="custom" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

<!-- Unused groups
    <xs:group name="software_full_names" id="meta1">
        <xs:sequence>
            <xs:element name="software_name" type="xs:string" />
            <xs:element name="software_version" type="xs:string" />
            <xs:element name="software_input_configuration" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:group>

    <xs:group name="software_short_names" id="meta2">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="version" type="xs:string" />
            <xs:element name="input_configuration" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:group>
-->
    
    <!--############################################################-->
    <!-- Elements for metadata => data_source    -->
    <!--############################################################-->
    
    <!-- Can be empty or not present-->
    <!-- <xs:element name="created" type="xs:dateTime" />
<xs:element name="last_modified" type="xs:dateTime" /> -->

    <xs:complexType name="cell_origin">
        <xs:all>
            <xs:element name="BTO_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="CLO_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="species" type="species" minOccurs="0"/>
            <xs:element name="strain" type="xs:string" minOccurs="0" />
            <xs:element name="organ" type="xs:string" minOccurs="0"/>
            <xs:element name="disease" type="disease" minOccurs="0"/>
            <xs:element name="morphology" type="xs:string" minOccurs="0"/>
            <xs:element name="patient_derived" type="patient_derived" minOccurs="0" />
            <xs:element name="custom" type="common:custom" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="species">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="MeSH_ID" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="disease">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="EFO_ID" type="xs:string" />
                <xs:attribute name="DOID_ID" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="patient_derived">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="patient_ID" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

<!--    <xs:element name="notes" type="xs:string" /> -->
    
<!--    <xs:element name="metadata"> -->
    
    <xs:complexType name="MultiCellDB">
        <xs:all>
            <xs:element name="ID" type="xs:string" minOccurs="0" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="rights">
        <xs:annotation>
            <xs:documentation>
                We follow the DCMI term for rights
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="license" type="license" maxOccurs="unbounded" />
            <xs:element name="custom" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="license">
        <xs:annotation>
            <xs:documentation>
                We follow the DCMI term for license
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LicenseDocument" type="LicenseDocument" />
            <xs:element name="notes" type="xs:string" minOccurs="0" />
            <xs:element name="custom" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LicenseDocument">
        <xs:annotation>
            <xs:documentation>
                We follow the DCMI term for LicenseDocument
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" default="CC BY 4.0" />
            <xs:element name="URL" type="URL" minOccurs="0" default="https://creativecommons.org/licenses/by/4.0/" />
            <xs:element name="custom" type="common:custom" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
        <xs:complexType name="metadata">
            <xs:sequence>
                <xs:element name="MultiCellDB" type="MultiCellDB" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="software" type="software" minOccurs="0" />
                <xs:element name="citation" type="citation" minOccurs="0" />
                <xs:element name="curation" type="curation" minOccurs="0" />                                
                <xs:element name="data_origins" type="data_origins" minOccurs="0" />
                <xs:element name="data_analysis" type="data_analysis" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="rights" type="rights" />
                <xs:element name="cell_origin" type="cell_origin" minOccurs="0" />
                <xs:element name="current_time" type="common:units_decimal_nonnegative" minOccurs="0" />
                <xs:element name="current_runtime" type="common:units_decimal_nonnegative" minOccurs="0" />
                <xs:element name="created" type="xs:dateTime" minOccurs="0" />
                <xs:element name="last_modified" type="xs:dateTime" minOccurs="0" />
                <xs:element name="notes" type="xs:string" minOccurs="0" />
                <xs:element name="custom" type="common:custom" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
<!--    </xs:element> -->
    
    
    
</xs:schema>
